<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线学习笔记 - 修改密码</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/prior.css')}}">
</head>
<body>
    <div class="container">
        <h1>在线学习笔记</h1>
        <div class="form-box">
            <h2>修改密码</h2>
            <form action="/Notebook/repwd" method="post" id="repwdForm">
                <input type="text" id="username" name="username" placeholder="用户名" required>
                <input type="password" id="password" name="password" placeholder="原始密码" required>
                <input type="password" id="new_password" name="new_password" placeholder="新密码" required>
                <button type="submit">修改密码</button>
                <p>不再修改密码？ <a href="{{url_for('users.login')}}">立即登录</a></p>
                <p><a href="{{url_for('notebook.homepage')}}">回到首页</a></p>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 $(document).ready(function() {
            $('#repwdForm').on('submit', function(event) {
                event.preventDefault();  // 阻止表单的默认提交行为

                var formData = $(this).serialize();  // 序列化表单数据

                $.ajax({
                    url: '/Notebook/repwd',
                    method: 'POST',
                    data: formData,
                    success: function(response) {
                        alert(response.message);
                        location.reload();
                    },
                    error: function(xhr) {
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            alert(xhr.responseJSON.message);
                        } else {
                            alert('请求失败: 未知错误');
                        }
                    }
                });
            });
        });
</script>
</html>
