<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线学习笔记 - 修改密码</title>
    <link rel="stylesheet" href="../static/css/prior.css">
</head>
<body>
    <div class="container">
        <h1>在线学习笔记</h1>
        <div class="form-box">
            <h2>修改密码</h2>
            <form action="/Notebook/repwd" method="post">
                <input type="text" id="username" name="username" placeholder="用户名" required>
                <input type="password" id="password" name="password" placeholder="原始密码" required>
                <input type="password" id="new_password" name="new_password" placeholder="新密码" required>
                <button type="submit">修改密码</button>
                <p>不再修改密码？ <a href="/Notebook/login">立即登录</a></p>
                <p><a href="{{url_for('notebook.homepage')}}">回到首页</a></p>
            </form>
        </div>
    </div>
</body>
<script>
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');
        if (message) {
            alert(message);
        }
</script>
</html>
