<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Note</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view-note.css') }}">
</head>
<body>
    <div class="note-container">
        <h1>{{ note.title }}</h1>
        <h3>作者：{{note.username}}</h3>
        <p>最近修改于：{{ note.update_time }}</p>
        <hr/>
        <div class="note-content">
            {{ note.content | safe }}
        </div>
    </div>
</body>
</html>
